@import "tailwindcss";
@config "../tailwind.config.js";

@import "leaflet/dist/leaflet.css";

body {
  font-family: "Plus Jakarta Sans", sans-serif;
}

.material-symbols-outlined {
  font-variation-settings:
    "FILL" 0,
    "wght" 400,
    "GRAD" 0,
    "opsz" 24;
}

.bg-pattern {
  background-image:
    linear-gradient(
      135deg,
      rgba(255, 92, 97, 0.1) 0%,
      rgba(255, 186, 181, 0.1) 100%
    ),
    url(https://lh3.googleusercontent.com/aida-public/AB6AXuAKBh8zfAYnBrL4Yjn98gA3TCswAiYAyWh_o0f-EA8PgjPY7mPCrfzARTPl_25mgYQkM6w7vX7uVwi8qLhw9bHdvSz9SNDakDHILrZ1xEVPZLkZAhN-qQ4n0p0Lg0J4vacme0gKw8AorRbWOe9SrW_cGwj0xK4EEAQwEc_S69zOPRKGQtFkAn3K2ps4CJCrBaXyY_6yKS918LaOH_B7j_VGKdLLpFquTVJxen2ZnHosn05E6e7nW0JDhADUEvOiXuxPMl4jrHbTI3Rl);
  background-size: cover;
  background-position: center;
}

.bg-warm-travel {
  background:
    linear-gradient(rgba(15, 23, 42, 0.4), rgba(15, 23, 42, 0.4)),
    url("https://images.unsplash.com/photo-1502784444187-359ac186c5bb?auto=format&fit=crop&q=80&w=1920");
  background-size: cover;
  background-position: center;
}

.bg-mesh {
  background-color: #f8f5f5;
  background-image:
    radial-gradient(at 0% 0%, rgba(255, 92, 97, 0.15) 0px, transparent 50%),
    radial-gradient(at 100% 0%, rgba(0, 108, 74, 0.05) 0px, transparent 50%),
    radial-gradient(at 100% 100%, rgba(255, 92, 97, 0.1) 0px, transparent 50%),
    radial-gradient(at 0% 100%, rgba(51, 65, 85, 0.05) 0px, transparent 50%);
}

.glass-search {
  background: rgba(255, 255, 255, 0.85);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
}
